{{#if pullToRefresh}}
  <div class="pull-to-refresh-layer">
    <div class="preloader">
      {{#if f7.materialTheme}}
        <svg xmlns="http://www.w3.org/2000/svg" height="75" width="75" viewBox="0 0 75 75"><circle cx="37.5" cy="37.5" r="33.5" stroke-width="8"></circle></svg>
      {{/if}}
    </div>
    <div class="pull-to-refresh-arrow"></div>
  </div>
{{/if}}
{{yield}}
{{#if infiniteScroll}}
  {{#if loading}}
    <div class="infinite-scroll-preloader">
      <div class="preloader">
      </div>
    </div>
  {{/if}}
{{/if}}