<div class="toolbar">
  <div class="toolbar-inner">
    <!-- Toolbar links -->
    {{#link-to 'index' class="link"}}Index{{/link-to}}
    {{#link-to 'virtual' class="link"}}Virtual{{/link-to}}
  </div>
</div>
