<!-- Status bar overlay for full screen mode (PhoneGap) -->
<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="panel panel-left panel-reveal">
  <div class="content-block">
    <p>Left Panel content here</p>
  </div>
</div>
<!-- Views -->
<div class="views">
  <!-- Your main view, should have "view-main" class -->
  <div class="view view-main">
    <div class="pages">
      <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
      {{#f7-page-container}}
        {{#f7-navbar currentPath=currentPath}}
          {{liquid-outlet 'navbar'}}
        {{/f7-navbar}}

        {{liquid-outlet}}
      {{/f7-page-container}}
    </div>
    <div class="toolbar">
      <div class="toolbar-inner">
        <!-- Toolbar links -->
        {{#link-to 'index' class="link"}}Index{{/link-to}}
        {{#link-to 'virtual' class="link"}}Virtual{{/link-to}}
      </div>
    </div>
  </div>
</div>