<!-- Status bar overlay for full screen mode (PhoneGap) -->
<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="panel panel-left panel-reveal">
  <div class="content-block">
    <p>Left Panel content here</p>
  </div>
</div>
<!-- Views -->
<div class="views">
  <!-- Your main view, should have "view-main" class -->
  <div class="view view-main">
    <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
    {{#f7-page-container}}
      <!-- Top Navbar-->
      {{#f7-navbar}}
        <div class="left">
          {{f7-toggle-panel direction="left"}}
        </div>
        <div class="center sliding">Awesome App</div>
        <div class="right">
          {{f7-toggle-sortable itemSelector="li.swipeout" action="sortItems" sortableOpen="Sort" sortableClose="Done"}}
        </div>
      {{/f7-navbar}}
      
      {{outlet}}

      <div class="toolbar">
        <div class="toolbar-inner">
          <!-- Toolbar links -->
          {{#link-to 'index' class="link"}}Index{{/link-to}}
          {{#link-to 'virtual' class="link"}}Virtual{{/link-to}}
        </div>
      </div>
    {{/f7-page-container}}
  </div>
</div>