<!-- Status bar overlay for full screen mode (PhoneGap) -->
<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="panel panel-left panel-reveal">
  <div class="content-block">
    <p>Left Panel content here</p>
  </div>
</div>
<!-- Views -->
<div class="views">
  <!-- Your main view, should have "view-main" class -->
  <div class="view view-main">
    <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
    <f7-page-container>
      <!-- Top Navbar-->
      <f7-navbar>
        <div class="left">
          <a class="link icon-only" href="#" {{action 'panelLeft'}}>
            <i class="icon icon-bars"></i>
          </a>
        </div>
        <div class="center sliding">Awesome App</div>
        <div class="right">
          <a class="link" href="#" {{action 'toggleSortable'}}>
            {{#if sortable}}
              Done
            {{else}}
              Sort
            {{/if}}
          </a>
        </div>
      </f7-navbar>
      <f7-search-bar searchIn=".page .item-title"></f7-search-bar>
      <!-- Scrollable page content -->
      <div class="page-content">
        <div class="content-block-title">Welcome To My Awesome App</div>

        <div class="list-block list-block-search searchbar-found">
          <ul>
            {{#each items as |item|}}
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title">{{item}}</div>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
      <!-- Bottom Toolbar-->
      <div class="toolbar">
        <div class="toolbar-inner">
          <!-- Toolbar links -->
          <a href="#" class="link">Link 1</a>
          <a href="#" class="link">Link 2</a>
        </div>
      </div>
    </f7-page-container>
  </div>
</div>
