<div class="navbar-inner">
  {{#if f7.iosTheme}}
    <div class="left">
      {{f7-toggle-panel direction="right"}}
    </div>
  {{/if}}
  <div class="center sliding">Awesome App</div>
  {{#if f7.iosTheme}}
    <div class="right">
      {{f7-toggle-sortable itemSelector="li.swipeout" action="sortItems" sortableOpen="Sort" sortableClose="Done"}}
    </div>
  {{else}}
    <div class="right">
      {{f7-toggle-panel direction="left"}}
    </div>
  {{/if}}
</div>