<div class="navbar-inner">
  <div class="left">
    {{#link-to 'index' class="back link"}}
      <i class="icon icon-back"></i><span>Back</span>
    {{/link-to}}
  </div>
  <div class="center">Virtual List</div>
</div>
