<div class="navbar-inner">
  <div class="left">
    {{f7-toggle-panel direction="left"}}
  </div>
  <div class="center sliding">Awesome App</div>
  <div class="right">
    {{f7-toggle-sortable itemSelector="li.swipeout" action="sortItems" sortableOpen="Sort" sortableClose="Done"}}
  </div>
</div>