{{#f7-page-content virtualListContainer=".virtual-list" virtualListConfig=virtualListConfig}}
  <div class="content-block-title">Here's a section with virtual list</div>
  <div class="list-block virtual-list">
  </div>
{{/f7-page-content}}
